<div class="header clearfix">
    <h3 class="text-muted">Search Hotel Offeres</h3>
</div>

<div class="row">
    <div class="col-lg-12">
        {{#if errors}} 
            {{#each errors}}
                <div class="alert alert-danger">{{this}}</div>
            {{/each}} 
        {{/if}}

        <form id="search-form" role="form" method="POST" action="/search">
            <div class="form-group">
                <label for="destinationName" class="control-label">Destination:</label>
                <input class="form-control form-control mb-2 mr-sm-2 mb-sm-0" placeholder="City, airport, landmark, hotel name or address"
                    name="destinationName" id="destinationName" type="text"  required value={{data.destinationName}}>
            </div>
            
                <div class="form-inline">
                    <div class="form-group date">
                        <label class="control-label" for="Trip Start Date" >Check In:</label>
                        <br />
                        <input class="form-control" name="minTripStartDate" type="date" required value={{data.minTripStartDate}}>
                    </div>

                    <div class="form-group date">
                        <label class="control-label" for="Trip End Date">Check Out:</label>
                        <br />
                        <input class="form-control" name="maxTripStartDate" type="date" required value={{data.maxTripStartDate}}>
                    </div>
                </div>

                <div class="form-inline">

                    <div class="form-group number">
                        <label for="maxGuestRating">Guest Rating:</label>

                        <input class="form-control" name="maxGuestRating" type="number" min="1"  value={{data.maxGuestRating}}>
                    </div>

                    <div class="form-group number">
                        <label for="maxStarRating">Max Star Rating:</label>

                        <input class="form-control" name="maxStarRating" type="number" min="1" value={{data.maxStarRating}}>
                    </div>
                </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>
